.dl-horizontal-flex {
  margin-bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  .dl-horizontal-flex li {
    margin-bottom: .2em; }
  .dl-horizontal-flex ul {
    margin: 0; }
  .dl-horizontal-flex h3 {
    font-weight: 600;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    margin-bottom: .2em; }
    @media (min-width: 800px) {
      .dl-horizontal-flex h3 {
        -webkit-box-flex: 1;
            -ms-flex: 1 1 30%;
                flex: 1 1 30%;
        margin-bottom: 1em;
        padding-right: .8em;
        text-align: right; } }
  .dl-horizontal-flex > * {
    line-height: 1.1;
    margin: 0;
    padding: 0;
    font-size: 1em;
    margin-bottom: 1em;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto; }
    @media (min-width: 800px) {
      .dl-horizontal-flex > * {
        -webkit-box-flex: 1;
            -ms-flex: 1 1 70%;
                flex: 1 1 70%; } }
    .dl-horizontal-flex > * p {
      margin-bottom: 0; }
    .dl-horizontal-flex > * p + p {
      margin-top: .4em; }

a {
  color: inherit;
  text-decoration: underline; }

a[href]:after {
  content: none !important; }

a:hover {
  color: inherit;
  background: #e6e6e6;
  text-decoration: overline; }

body {
  font-family: 'OfficeCodeProDRegular';
  color: black; }
  @media screen {
    body {
      background-color: #e6e6e6 !important; } }

.date-text {
  color: gray; }

.container-content .header h1 {
  background-color: white;
  border: none; }

.container-content h1 {
  border-bottom: solid black 1px;
  margin-top: 0;
  padding: .05em;
  font-size: 2em; }

.container-content h2 {
  font-size: 1.5em;
  margin-top: 0;
  padding: 0; }

.container-nav, .container-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: white;
  box-shadow: .1em .1em .1em #888888;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 800px;
          flex: 1 1 800px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 1em auto;
  max-width: 80rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }
  @media print {
    .container-nav, .container-footer {
      display: none; } }
  @media (min-width: 800px) {
    .container-nav, .container-footer {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row; } }
  .container-nav a, .container-footer a {
    -ms-flex-item-align: left;
        align-self: left;
    text-decoration: none;
    color: black;
    margin: .5em 1em;
    padding: .25em;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto; }
    @media (min-width: 800px) {
      .container-nav a, .container-footer a {
        -ms-flex-item-align: center;
            align-self: center; } }

.container-content {
  background-color: white;
  padding: 1em;
  box-shadow: .1em .1em .1em #888888;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 80rem;
  margin: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }
  .container-content > * {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto; }
  .container-content .header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    .container-content .header p {
      margin-bottom: .4em; }
    @media (min-width: 800px) {
      .container-content .header {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row; } }
    .container-content .header > * {
      -webkit-box-flex: 1;
          -ms-flex: 1 1 auto;
              flex: 1 1 auto; }
  @media (min-width: 800px) {
    .container-content .contact {
      text-align: right; } }
