@media (min-width: 0px) {
  .content {
    width: 100%;
    padding-left: 0px;
    padding-right: 0px; } }

@media screen and (min-width: 800px) {
  .content {
    width: 800px; }
  .content-wrapped {
    box-shadow: 4px 4px 5px #888888; } }

@media screen {
  .content {
    padding-top: 70px;
    padding-bottom: 20px; }
  .content-wrapped {
    padding: 8px 16px;
    background: white; }
  body {
    font-family: 'OfficeCodeProDRegular';
    background-image: url("https://images.duckduckgo.com/iu/?u=http%3A%2F%2Fplanetzac.com%2Fmedia%2F2011%2F09%2Foriginal%2Feng_paper.png&f=1"); } }

@media print {
  .content {
    width: 100%;
    padding: 2px;
  }
  h2 {
      margin: 2px;
  }
  dl {
      display: block;
  }
}

@media print {
  a[href]:after {
    content: none !important; }
  a {
    text-decoration: none !important; } }

.home img {
  float: right;
  border-radius: 0px;
  border-color: gray;
  border-width: 2px;
  border-style: solid; }

.navbar-inverse {
  border-radius: 0px; }

.content a {
  color: inherit;
  text-decoration: underline; }

.content a:hover {
  color: #333;
  background: #e6e6e6;
  text-decoration: overline; }

.resume-content h2 {
  font-size: 24px;
  background-color: #e6e6e6;
  padding: 4px;
  margin: 16px 0px;
  border: solid gray 1px; }

.resume-content .date-text {
  float: right;
  color: gray; }

.resume-header {
  margin-top: 20px; }
  .resume-header-right {
    text-align: right; }
  .resume-header p {
    margin: 4px 0px; }
  .resume-header h1 {
    margin: 0px; }
  .resume-header h2 {
    margin: 4px 0px; }
