<template id="main">
  <link rel="stylesheet" href="/common.css" />
    <link rel="stylesheet" href="/main.css" />
  <link rel="stylesheet" href="/components/resume/main.css" />

  <section class="resume-header">
    <div class="resume-header--left">
      <h1>Aaron Schif</h1>
      <p>Software Developer</p>
    </div>
    <div class="resume-header--right">
      <p><a href='tel:3169938027' class="obvious">316.993.8027</a></p>
      <p><a href='mailto:aaronschif@gmail.com' class="obvious">aaronschif@gmail.com</a></p>
      <p><a href='https://aaronschif.github.io' class="obvious">aaronschif.github.io</a></p>
      <p><a href='https://matrix.to#/@aaronschif:matrix.org' class="obvious">@aaronschif:matrix.org</a></p>
    </div>
  </section>
  <section>
    <h2>Profile</h2>
    <div class="sidebyside">
      <div class="sidebyside--left">
        <h3><i class="fab fa-github" aria-hidden="true"></i> github</h3>
      </div>
      <div>
        <a href="https://github.com/aaronschif" class="obvious">github.com/aaronschif</a>
      </div>
      <div class="sidebyside--left">
        <h3><i class="fab fa-stack-overflow" aria-hidden="true"></i> stackoverflow</h3>
      </div>
      <div>
        <a href="http://stackoverflow.com/users/1813277/aaron-schif" class="obvious">stackoverflow.com/users/1813277/aaron-schif</a>
      </div>
    </div>
  </section>
  <section>
    <h2>Experience</h2>
    <div class="sidebyside">
      <div class="sidebyside--left">
        <h3>KSU Webteam</h3>
        <small>Sept. 2013 - May 2016</small>
      </div>
      <div>
        <p>Developed internet applications for KSU. Worked on an agile team.
          I was responsible for training new employees in Django and Python.</p>
      </div>
      <div class="sidebyside--left">
        <h3>Network Development Group</h3>
        <small>May 2016 - Present</small>
      </div>
      <div>
        <p>Used Django and Python to create interactive learning tools. Wrote
          code for a profit producing website where security and stability
          are most important.</p>
      </div>
      <div class="sidebyside--left">
        <h3>Eagle Scout</h3>
      </div>
      <div>
        Participated in community projects. Learned leadership and teamwork.
      </div>
    </div>
  </section>
  <section>
    <h2>Skills</h2>
    <div class="sidebyside">
      <div class="sidebyside--left">
        <h3>Languages</h3>
      </div>
      <div>
        <ul class="list-inline">
          <li>Python</li>
          <li>D</li>
          <li>C</li>
          <li>C++</li>
          <li>Java</li>
          <li>Bash</li>
          <li>HTML</li>
          <li>CSS</li>
          <li>Sass</li>
          <li>JavaScript</li>
          <li>Node.js</li>
          <li>Markdown</li>
          <li>Lua</li>
        </ul>
      </div>
      <div class="sidebyside--left">
        <h3>Frameworks</h3>
      </div>
      <div>
        <ul class="list-inline">
          <li>Django</li>
          <li>Linux</li>
          <li>Unix</li>
          <li>JQuery</li>
          <li>Twitter Bootstrap</li>
          <li>GTK</li>
          <li>MySQL</li>
          <li>Apache</li>
          <li>Nginx</li>
        </ul>
      </div>
      <div class="sidebyside--left">
        <h3>Techniques</h3>
      </div>
      <div>
        <ul class="list-inline">
          <li>Ajax</li>
          <li>Responsive Design</li>
          <li>Unit Testing</li>
          <li>Test Driven Development</li>
          <li>Multiprogramming</li>
          <li>Continuous Integration</li>
          <li>Version Control</li>
        </ul>
      </div>
      <div class="sidebyside--left">
        <h3>Programs</h3>
      </div>
      <div>
        <ul class="list-inline">
          <li>Git</li>
          <li>Vagrant</li>
          <li>Jenkins</li>
          <li>py.test</li>
        </ul>
      </div>
    </div>
  </section>
  <section>
    <h2>Education</h2>
    <div class="sidebyside">
      <div class="sidebyside--left">
        <h3>Kansas State University</h3>
        <small>December 2016 Grad</small>
      </div>
      <div>
        <p>
          Studied computer science. Worked in many teams. Learned many
          programming languages, patterns, and techniques. Favorite courses
          include Game Engine Design, Concurrent Software Systems, and Computer Architecture.
        </p>
      </div>
    </div>
  </section>
</template>
