.resume-header {
  display: grid;
  grid-template-columns: auto auto;
}

.resume-header--left {
  text-align: left;
}

.resume-header--right {
  text-align: right;
}

.resume-header--right p {
  /* margin-bottom: .2rem; */
}

.sidebyside {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-column-gap: .8rem;
  grid-row-gap: .8rem;
}

.sidebyside--left {
  text-align: right;
}
