!!! 5
html(lang="en")
  head
    block title
      
    link(href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css", rel="stylesheet")
    //- link(href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha/css/bootstrap.min.css", rel="stylesheet", integrity="sha256-GHW2S7IZAQe8+YkyL99LyDj1zdWXSPOG+JZafCtKiSc= sha512-vxM32w6T7zJ83xOQ6FT4CEFnlasqmkcB0+ojgbI0N6ZtSxYvHmT7sX2icN07TqEqr5wdKwoLkmB8sAsGAjCJHg==", crossorigin="anonymous")
    link(href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css", rel="stylesheet")
    link(rel="shortcut icon" href="http://icons.iconarchive.com/icons/icons8/android/512/Animals-Sheep-icon.png")
    link(rel="stylesheet" href="https://fontlibrary.org/face/office-code-pro")
    
    - assets filters="libsass", output="gen/packed.css", "main.sass"
        link(href=ASSET_URL, rel="stylesheet")
    - endassets
  body
    nav.navbar.navbar-inverse.navbar-fixed-top
      .container
        .navbar-header
          button(type="button", data-toggle="collapse", data-target="#navbar", aria-expanded="false", aria-controls="navbar").navbar-toggle.collapsed
            span.sr-only Toggle Navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a(href='/').navbar-brand Aaron Schif
        .collapse.navbar-collapse#navbar
          ul.nav.navbar-nav
            li: a(href="/") Resume
            li: a(href='https://github.com/aaronschif') 
              i(class="fa fa-github")&nbsp On Github
            li: a(href='http://stackoverflow.com/users/1813277/aaron-schif') 
              i(class="fa fa-stack-overflow")&nbsp On Stack Overflow
    .container.content
      .content-wrapped
        block content
          h1 Jade - node template engine
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js")
