extends ./_layouts/index.jade

block title
  title Home
  style.
    img {
        margin: 2px;
        transform: rotate(2deg);
        box-shadow: 1px 1px 1px #888888;
    }
    .home .img2 {
        float: left;
        margin: 8px;
        width: 200px;
        transform: rotate(-4deg);
    }
    .well {
        float: left;
        margin: 8px;
        color: #512888;
    }
    .home .well {
        border-radius: 0px;
        box-shadow: 1px 1px 1px #888888;
        //- border-style: none;
    }
  
block content
  .home
    h1 Aaron Schif
    img(alt="" src="https://www.gravatar.com/avatar/78bfd047109ebaeecc1dd14660988b01?s=256&amp;d=identicon&amp;r=PG")
    p Lorem ipsum dolor sit amet, consectetur <a href="">adipiscing</a> elit. <small>Curabitur tristique</small> erat sed volutpat pharetra. Curabitur porttitor est nec sodales ultricies. Mauris ut laoreet velit. Nam posuere dignissim elit, quis fringilla justo consectetur consectetur. Aliquam erat volutpat. Aenean scelerisque pulvinar justo vel ornare. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Phasellus eu turpis non nunc porta consectetur vel sed erat. Nunc ac placerat neque. Morbi ut suscipit orci. In quis quam est. Pellentesque diam nulla, congue sit amet dolor ornare, viverra porttitor diam. Phasellus eu tellus non mi facilisis fermentum. Etiam et libero id dui convallis luctus eu id lorem. Vestibulum in arcu mattis, mollis turpis a, finibus arcu. Sed eu purus non ante fermentum ultricies.
    p Nunc in orci purus. Donec ac auctor risus. <strong>Nulla</strong> bibendum at nisl varius gravida. Maecenas neque massa, fermentum ut leo ac, blandit dapibus magna. Sed pellentesque vulputate nisl ut lacinia. Cras posuere malesuada finibus. Suspendisse sollicitudin magna vel sollicitudin consectetur. Fusce sagittis porta gravida. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Sed semper dui non nisl elementum dapibus. Curabitur elit lectus, hendrerit vel suscipit sit amet, iaculis eget velit.
    .well.well-sm.col-md-4
        img.img2(alt="" src="http://upload.wikimedia.org/wikipedia/en/thumb/1/19/KSUWildcats_logo.svg/1280px-KSUWildcats_logo.svg.png")
        p Went to K-State. Donec tempor quam scelerisque diam mollis imperdiet. Vestibulum ac maximus justo. 
    p Morbi porttitor interdum nibh at laoreet. Donec vel ante mollis sem lacinia varius a sed odio. Donec tempor quam scelerisque diam mollis imperdiet. Vestibulum ac maximus justo. Suspendisse facilisis leo et arcu venenatis dictum. Mauris maximus felis nulla, nec sagittis ante dictum at. Nullam iaculis, ipsum ac varius laoreet, urna orci rhoncus metus, ac interdum eros lacus ac justo. Sed at condimentum massa, eget eleifend enim. Etiam consequat convallis nisi, ac semper sapien tristique in. Maecenas ac diam non neque finibus interdum sed vel justo. Pellentesque in ipsum eu diam finibus dapibus. Duis vel sem accumsan, iaculis diam aliquet, dictum metus. Morbi ultrices nunc massa, sed ultrices purus lacinia in. In pretium diam sed ligula convallis, sed gravida turpis vulputate. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    p Nulla a rutrum dui, at luctus purus. Donec mauris metus, sodales sed magna id, ultricies tristique odio. Morbi aliquet enim et tempus placerat. Integer porttitor sodales sapien eu suscipit. Curabitur hendrerit dolor purus, eu scelerisque odio condimentum pulvinar. Curabitur mollis, nibh eu consectetur semper, lorem libero vestibulum ante, eu aliquet mi massa sed nisl. Aenean posuere sapien eget purus tempor consequat sit amet eget eros. Donec congue mi ac turpis laoreet pellentesque. In hac habitasse platea dictumst. Praesent scelerisque leo massa, eu hendrerit dui lobortis ac.
    p Vestibulum eget ante egestas, vestibulum erat vitae, rhoncus nibh. Nam sodales consectetur nibh nec rhoncus. Proin vulputate ante lacus. Quisque pulvinar maximus diam sit amet placerat. Phasellus suscipit nisl eu massa porttitor, ut sagittis quam dictum. Quisque euismod justo at est vulputate varius. In lobortis imperdiet dolor, eu porta ipsum consectetur sit amet. Integer porttitor urna ac sodales pharetra. 
