extends ./_layouts/index.jade

block title
  title Home
  
block content
  .home
    h1 Aaron Schif
    img(src="https://www.gravatar.com/avatar/78bfd047109ebaeecc1dd14660988b01?s=256&amp;d=identicon&amp;r=PG")
    p Foo
