extends _templates/base.pug

append head
    - var dateformat = require('dateformat')

block content
    main.container-content
        h1 Blog
        p.
            I'm not much of a writer

        .blog-posts
            each post in posts.concat().splice(0, 5)
                .post
                    a(href='/'+post.path): h1 #{post.title}
                    time= dateformat(post.date, 'dd-mm-yyyy')
                    p!= post.less
            a(href="/blog").nav-link= "The rest ->"
