!!! 5
mixin fa(icon)
    i(class="fa fa-#{icon}", aria-hidden="true")

html(lang="en")
    head
        title Aaron Schif - Resume
        link(href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css", rel="stylesheet")
        link(href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css", rel="stylesheet")
        link(href="https://fontlibrary.org/face/office-code-pro", rel="stylesheet")
        link(href="./main.css", rel="stylesheet")
        link(rel="icon", href="./sheep.ico")
        link(rel="icon", href="./sheep.png")
        link(rel="icon", href="./sheep.min.svg", sizes="any", type="image/svg+xml")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(charset="utf-8")
        base(href=".")
    body
        nav.container-nav: ul.nav-list
            li: a(href='#') Aaron Schif
            li: a(href='#') Resume
            li: a(href='https://github.com/aaronschif') #[+fa("github")] On Github
            li: a(href='http://stackoverflow.com/users/1813277/aaron-schif') #[+fa("stack-overflow")] On Stack Overflow
      
        main.container-content
            .header
                .title
                    h1 Aaron Schif
                    h2 Software Developer
                .contact
                    p: a(href='tel:3169938027') 316.993.8027
                    p: a(href='mailto:aaronschif@gmail.com') aaronschif@gmail.com
                    p: a(href='https://aaronschif.github.io') aaronschif.github.io
            h1 Profile
            .dl-horizontal-flex
                h3 #[+fa("github")] github
                p: a(href="https://github.com/aaronschif") github.com/aaronschif
                h3 #[+fa("stack-overflow")] stackoverflow
                p: a(href="http://stackoverflow.com/users/1813277/aaron-schif") stackoverflow.com/users/1813277/aaron-schif

            h1 Education
            .dl-horizontal-flex
                h3 Kansas State University<br>
                    small.date-text December 2016 Grad
                div
                    p.
                        Study computer science. Work in a team. Learn many programming
                        languages, pattens, and techniques. Favorite courses include 
                        Game Engine Design, Concurrent Software Systems, and Computer Architecture.
                    P 3.1 Overall GPA  
            
            h1 Experience
            .dl-horizontal-flex
                h3 KSU Webteam<br>
                    small.date-text Sept. 2013 - May 2016
                div
                    p.
                        Developed internet applications for KSU. Worked on an agile team. 
                        I was responsible for training new employees in Django and python.     
                h3 Network Development Group<br>
                    small.date-text May 2016 - Present
                div
                    p.
                        An internship using Django and python to create interactive learning tools.
                h3 dgitprompt
                div
                    p.
                        Built with D, C, lua, and libgit. Displays git information in a shell 
                        independent manner for your prompt. Licensed under MIT license.
                    p: a(href="https://github.com/aaronschif/dgitprompt") github.com/aaronschif/dgitprompt
                h3 Eagle Scout
                div
                    p.
                        Participated in community projects. Learned leadership and teamwork.
                h3 4th place 2015 <br> ACM programming contest
                div 
                    p.
                        Worked with my team to prove our programming abilities. Competed to 
                        complete the most programming brain teasers with the fewest mistakes 
                        in the allotted time.

            h1 Skills
            .dl-horizontal-flex
                h3 Languages
                div: ul.list-inline
                    li Python
                    li D
                    li C
                    li C++
                    li C#
                    li java
                    li bash
                    li HTML
                    li css
                    li sass
                    li JavaScript
                    li Node.js
                    li Markdown
                h3 Frameworks
                div: ul.list-inline
                    li Django
                    li Linux
                    li Unix
                    li JQuery
                    li Ajax
                    li Twitter Bootstrap
                    li Responsive Design
                    li GTK
                    li MySQL
                h3 Techniques
                div: ul.list-inline
                    li Unit Testing
                    li Test Driven Development
                    li Multiprogramming
                    li Continuous Integration
                    li Version Control 
                h3 Programs
                div: ul.list-inline
                    li git
                    li Vagrant
                    li Jenkins
                    li py.test
          footer.container-footer: ul.nav-list
              li: a(href="./aaron_schif_resume.pdf") PDF Resume
              li: a(href="./aaron_schif.vcs") VCard
