extends _templates/base.pug

append head
    - var lorem = require('lorem-ipsum')
    - var dateformat = require('dateformat')

block content
    main.container-content
        article
            h1 About me
            h2 Looking to hire me? I don't blame you.

            img(src="https://www.gravatar.com/avatar/882d0052c50ecb22a41df0c10810fa3f?s=200" width=200 height=200)
            p.
                Unfortunately, I suffer from brevity. I will complete this
                soon (hopefully).

        h1 Blog
        .blog-posts
            each post in posts
                .post
                    a(href=post.path): h1 #{post.title}
                    time= dateformat(post.date, 'dd-mm-yyyy')
                    p!= post.less
            a(href="/blog").nav-link= "The rest ->"
